
<h1>welcome</h1>
<p>hello world</p>
<!-- <h3>links</h3> -->
<!-- 
<h1>aku <%= nama%></h1>
<h1>data murid</h1>
<% if (murid.length <1) { %>
<p>Data murid masih kosong</p>
<% } else { %> <% murid.forEach(mrd => { %>
<ul>
  <li>nama: <%= mrd.nama %></li>
  <li>email: <%= mrd.email %></li>
</ul>
<% }) %> <% } %> -->

